# Database Configuration
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/movies_db

# Security
SECRET_KEY=d52fc661761311f92b779bde2a148921f72406cb2531490248c0667b324a0aa2
ALGORITHM=HS256

# Dummy Admin User
ADMIN_USERNAME=admin
ADMIN_PASSWORD=secret